Name=
#  Name_Chain: default is "$Name Chain"
Name_Chain=
#  Name_Chain: default is "$Name Coin"
Name_Coin=
SYMBOL=
# TOKENSTANDARD: default is "$SYMBOL"
TOKENSTANDARD=
MainnetId=
TestnetId=
domainchain=
githubusername=
githubrepo=